<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Assistance Navigation Maritime</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-light">
        <a class="navbar-brand">Navbar</a>
        <button class="btn btn-outline-danger" id="closeBtn">Quitter</button>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>