<h1>ent</h1>

<form class="" action="/carte" method="post">

<div>
  <div>
    <input type="radio" id="nord" name="lat_radio" value="N"
           checked>
    <label for="huey">N</label>
  </div>
  <div>
    <input type="radio" id="sud" name="lat_radio" value="S"
           checked>
    <label for="huey">S</label>
  </div>

  <div>
      <label for="lat_deg">Degrée :</label>
      <input type="text" id="lat_deg" name="lat_deg">
  </div>
  <div>
      <label for="lat_min">Minutes :</label>
      <input type="text" id="lat_min" name="lat_min">
  </div>
  <div>
      <label for="lat_sec">Secondes :</label>
      <input type="text" id="lat_sec" name="lat_sec"></textarea>
  </div>
</div>

<div>
  <div>
    <input type="radio" id="nord" name="lon_radio" value="O"
           checked>
    <label for="huey">O</label>
  </div>
  <div>
    <input type="radio" id="sud" name="lon_radio" value="E"
           checked>
    <label for="huey">E</label>
  </div>

  <div>
      <label for="lon_deg">Degrée :</label>
      <input type="text" id="lon_deg" name="lon_deg">
  </div>
  <div>
      <label for="lon_min">Minutes :</label>
      <input type="text" id="lon_min" name="lon_min">
  </div>
  <div>
      <label for="lon_sec">Secondes :</label>
      <input type="text" id="lon_sec" name="lon_sec"></textarea>
  </div>
</div>

<button type="submit">OK</button>
</form>
